<img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png" alt="GymPoint" height="250" width="250">
<br />
<br />
<br />
<strong> Olá {{ student }}! </strong>
<p> Sua pergunta foi respondida! Detalhes abaixo...</p>

<div align="justify" style="border: 2px solid black;">
  <p>
    <strong> Pergunta: </strong> {{ question }} <br />
    <strong> Resposta: </strong> {{ answer }} <br />
    <strong> Data: </strong> {{ answer_at }} <br />
  </p>
</div>
