<img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png" alt="GymPoint" height="250" width="250">
<br />
<strong>Bem vindo(a) {{ student }} </strong>
<p>Estamos felizes de te-lo fazendo parte de nossa equipe! Abaixo seguem as informações referentes a sua matricula!</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data Término: </strong> {{ end_date }} <br />
  <strong>Preço Total: R${{ price }} </strong>
</p>
